.info-side-bar-container {
    width: 150px;
    height: 100vh;
    background-color: #0e1621;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s ease-in-out;
    align-items: center;
    border-right: 2px solid #34495e;
    position: relative;
    z-index: 9999;
    transform: translateX(0);
    border-radius: 0 16px 16px 0;
}
.sidebar-item-logo{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.sidebar-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #34495e;
    }

    .sidebar-icon {
        font-size: 1.5rem;
        margin-right: 15px;
        color: white;
    }

    .item-text {
        font-size: 1rem;
        font-weight: 500;
    }

    img {
        border-radius: 50%;
        margin-right: 15px;
    }
}

.sidebar-item:last-child {
    margin-bottom: 0;
}

@media(max-width:1050px){
    .info-side-bar-container{
        position: absolute;
        transform: translateX(-100%);
        display: block;
    }
}
.isBurgerOpen{
    transition: 0.5s ease-in-out;
    display: block;
    z-index: 99999;
    transform: translateX(0);
}